%br/
%table{:width => "100%"}
  %tr
    %td
      %h1 Chính sửa
    %td{:align => "right"}
      %span.icon-share-alt
      = link_to 'Trở về', home_admin_path
%hr/
%br/
= render 'form', :action => "update"
