
%section
  .container
    .row
      .col-md-12
        %table{:width => "100%"}
          %tr
            %td
              %h1 Táº¡o
            %td{:align => "right"}
              %span.icon-share-alt
              = link_to 'Trá»Ÿ vá»', sports_path
        %hr/
        %br/
        = render 'form', :action => "create"
