/ %section
/   .container-fluid
/     .col-md-9
/       %h3.no-padding-margin-top
/         %span{:style =>"border-bottom: 4px solid #DF0024;"} Tin tức mới nhất
/       .row
/         .col-md-8
/           =link_to welcome_newsdetail_path do
/             %img.img-responsive.news-img{:alt => "", :src => image_url('news/480.png')}/
/           %div.news-background-first
/             =link_to welcome_newsdetail_path do
/               %b{:style=>"font-size:0.8em;"}  Giải xe đạp đường trường VĐQG 2015: TPHCM giành HCV đồng đội thứ hai
/             %p.no-padding-margin-top  Cô người mẫu sexy Khánh My mặc bộ váy đỏ cúp ngực gợi cảm quyến rũ tới tham dự đêm bế mạc Tuần lễ thời trang quốc tế Việt Nam 2015 
/         .col-md-4
/           .col-md-12
/             %a{:href => "#"}
/               %img.img-responsive.news-img{:alt => "", :src => image_url('news/4801.png')}/
/               %p.no-padding-margin-top.news-background Tổ chức các hoạt động kỷ niệm 70 năm Ngày truyền thống ngành 1
/           .col-md-12
/             %a{:href => "#"}
/               %img.img-responsive.news-img{:alt => "", :src => image_url('news/4802.png')}/
/               %p.no-padding-margin-top.news-background Huỳnh Ngọc Tân đả bại kẻ thách thức

/       .row
/         .col-md-4
/           %a{:href => "#"}
/             %img.img-responsive.news-img{:alt => "", :src => image_url('news/4803.png')}/
/             %p.no-padding-margin-top.news-background  Giải bóng chuyền Cúp Tứ hùng TPHCM 2015: Maseco TPHCM sớm vào chung kết
/         .col-md-4
/           %a{:href => "#"}
/             %img.img-responsive.news-img{:alt => "", :src => image_url('news/4805.png')}/
/             %p.no-padding-margin-top.news-background Giải bóng đá nữ quốc tế TPHCM mở rộng 2015: Sẽ diễn ra vào tháng 11
/         .col-md-4
/           %a{:href => "#"}
/             %img.img-responsive.news-img{:alt => "", :src => image_url('news/4804.jpeg')}/
/             %p.no-padding-margin-top.news-background Giải Judo Quốc tế Việt Nam  - Cúp Đại học Cảnh sát Nhân dân: Khách mời chất lượng
/     %h3.no-padding-margin-top
/       %span{:style =>"border-bottom: 4px solid #DF0024;"} Tin Hot
/     .col-md-3.hot-news
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m1.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title Khánh My gợi cảm trong đêm bế mạc Vietnam International Fashion Week 2015
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m2.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title Đại hội Đại biểu Đảng bộ TPHCM lần thứ X, nhiệm kỳ 2015 - 2020 thành công tốt đẹp
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m3.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title 2000 người cao tuổi tham gia đồng diễn thể dục dưỡng sinh
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m5.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title Đại học Tôn Đức Thắng thắng trận đầu tiên tại Giải bóng đá sinh viên toàn quốc Cúp Viettel 2015
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m6.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title Giải bóng chuyền Cúp Tứ hùng TPHCM 2015: Maseco TPHCM khởi đầu thuận lợi
/       .row
/         .col-md-4.nopadding
/           %a{:href => "#"}
/             %img.img-responsive.hot-news-avatar{:alt => "", :src => image_url('news/480m7.png')}/
/         .col-md-8.hot-news-background
/           %a{:href => "#"}
/             %p.hot-news-title Lâm Thùy Anh đoạt giải á hậu Miss Global Beauty Queen 2015 khi đi thi chui.