#flash-banner
  - flash.each do |name, msg|
    - if msg.is_a?(String) && !msg.blank?
      %div{:class => "alert medium-font alert-#{name == 'error' || name == 'alert' ? "danger" : "success" }"}
        %a.close{"data-dismiss" => "alert", "onclick" => ""} ×
        %div{id: "flash_#{name}"}
          - if name == 'error' || name == 'alert'
            %i.entypo-minus-circled.icon-large
          = msg
